{erl_opts, [debug_info, warnings_as_errors]}.

{artifacts, ["priv/wrouter_nif.so"]}.

{pre_hooks, [
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile,
     "make -f c_src/Makefile"},
    {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", clean,
     "make -f c_src/Makefile clean"}
]}.

{hex, [{doc, edoc}]}.
